.modal-dialog {}

.modalCompleto {
    display: flex;
    align-items: center;
    max-width: 90%;
}

.modal-content {
    height: 100vw;

}

.modal-header {}

.modal-titulo {}

.modal-body {
    background-color: black;
    display: flex;
    gap: 30px;

}

.body__imagens {
    width: 40%;

}

.body__imagem {
    width: 100%;
}

.body__imagens iframe {
    width: 100%;
    height: 100%;
}

.body__tecnologias {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 10px 0;
}

.body__tecnologias p {
    text-align: center;
    font-size: 0.8rem;
}

.body__tecnologia {
    width: 30px;
}

.body__descricao {
    color: white;
    width: 60%;
}

.body__descricao p {
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
    color: white;
    background-color: white; /* Futuramente aplicar cor na letra */
}

.titulos-modal {
    font-size: 2rem;
    text-align: center;
    margin-top: 5px;
    color: white;
}

.modal-footer {
    background-color: white;
}