.modal-dialog {}

.modalCompleto {
    display: flex;
    align-items: center;
    max-width: 90%;
}

.modal-content {
    height: 100vw;

}

.modal-header {}

.modal-titulo {}

.modal-body {
    display: flex;
    background-color: black;
    display: flex;
    gap: 3%;
}

.body__imagens {
    flex: 35%;
    column-gap: 5px;
}

.body__imagem {    
    width: 100%;
}

.body__imagens iframe {
    width: 100%;
    height: 100%;
}

.body__tecnologias {
    flex: 10%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 20px 0;    
}

.body__tecnologias p {
    text-align: center;
    font-size: 0.8rem;
}

.body__tecnologia {
    width: 30px;
}

.body__descricao {
    flex: 45%;
    color: white;
    width: 60%;
}

.body__descricao p {
    font-size: var(--fs-pequena);
    text-align: center;
    margin-top: 5px;
    color: white !important;
}

.titulos-modal {
    font-size: 2rem;
    text-align: center;
    margin-top: 5px;
    color: white;
}

.modal-footer {
    background-color: white;
}