/* Tema light */
[data-bs-theme="light"] body {
  background-color: var(--bg-body);
}

[data-bs-theme="light"] .navbar,
[data-bs-theme="light"] .rodape {
  background-color: var(--bg-nav-rodape);
}

[data-bs-theme="light"] .titulos {
  color: black;
}

[data-bs-theme="light"] .sobreMim {
  background-color: var(--elementos);
}

[data-bs-theme="light"]::-webkit-scrollbar {
  width: 14px;
}

[data-bs-theme="light"]::-webkit-scrollbar-track {
  background-color: #e0f0ff;
}

[data-bs-theme="light"]::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg,
      #00c6ff,
      #0072ff,
      #00c6ff,
      #0072ff);
  background-size: 300% 300%;
  animation: blueScroll 2s ease infinite;
  border-radius: 10px;
  border: 3px solid #e0f0ff;
  box-shadow: 0 0 8px rgba(0, 114, 255, 0.4);
}

/* Tema dark */
[data-bs-theme="dark"] body {
  background-color: var(--bg-body-noturno);
}

[data-bs-theme="dark"] .navbar,
[data-bs-theme="dark"] .rodape {
  background-color: var(--bg-nav-rodape-noturno);
}

[data-bs-theme="dark"] .titulos {
  color: white;
}

[data-bs-theme="dark"] .sobreMim {
  background-color: var(--elementos-noturno);
}

[data-bs-theme="dark"]::-webkit-scrollbar {
  width: 14px;
}

[data-bs-theme="dark"]::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

[data-bs-theme="dark"]::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg,
      #ff0000,
      #ff8c00,
      #ffff00,
      #ff8c00,
      #ff0000);
  background-size: 400% 400%;
  animation: fireScroll 1s linear infinite;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
  box-shadow: 0 0 10px rgba(255, 100, 0, 0.6);
}
