.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-nav-rodape);
}

.navbar__topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
}

.container-fluid p {
  display: flex;
  font-family: var(--fonte-subtitulos);
}

.navbar__nomeCompleto {
  font-family: var(--fonte-subtitulos);
  font-size: 2.3rem;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .navbar__nomeCompleto {
    font-size: 35px;
    text-align: center;
  }
}

.navbar__corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_subtitulo {
  padding: 10px 0;
  font-size: var(--fs-media);
  font-family: var(--fonte-titulos);
}

.navbar__itens {
  margin: 3px;
  width: 30px;
  height: auto;
}

.navbar__tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}

.navbar__modoEscuro .form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 601px) {
  .navbar__nomeCompleto {
    font-size: 2.1875rem;
  }
}

@media screen and (min-width: 601px) {
  .navbar__topo {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    gap: 1rem;
  }

  .navbar__nomeCompleto {
    font-size: 2rem;
  }

  .navbar__tecnologias {
    gap: 1rem;
  }

  .navbar__itens {
    width: 2.5rem;
  }

  .navbar_subtitulo {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1025px) {
  .navbar__topo {
    padding: 1rem 2rem;
  }

  .navbar__nomeCompleto {
    font-size: 2.25rem;
  }

  .navbar__itens {
    width: 3rem;
  }

  .navbar_subtitulo {
    font-size: 1.25rem;
  }
}
