.titulos {
  font-family: var(--fonte-titulos);
  font-size: var(--fs-titulos);
  text-align: center;
  margin: 15px 0;
}

.subtitulos {
  font-size: 1.2rem;
  text-align: center;
}

.projetos {
  color: white;
  margin: 0 3px;
  padding: 1rem;
}

.projetosCarousel {
  max-width: 1000px;
  margin: 10px auto;
  position: relative;
}

.projetosCarousel__track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 16px;
  padding-bottom: 8px;
  -webkit-overflow-scrolling: touch;
}

.projetosCarousel__track::-webkit-scrollbar {
  height: 8px;
}

.projetosCarousel__track::-webkit-scrollbar-thumb {
  background: #999;
}

.track__item {
  flex: 0 0 150px;
  flex-shrink: 0;
  scroll-snap-align: start;
  box-sizing: border-box;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 7px;
  text-align: center;
  user-select: none;
  cursor: grab;
}

.track__item:hover {
  transform: scale(1.04);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .titulos {
    font-family: var(--fonte-titulos);
    font-size: 4rem;
    text-align: center;
    margin: 15px 0;
  }

  .subtitulos {
    font-size: 1.2rem;
    text-align: center;
  }
  .track__item {
    flex: 0 0 calc((100% - 16px) / 3);
  }
}

.projetosCarousel__track.arrastando {
  cursor: grabbing;
}

.track__imagem {
  width: 100%;
  height: 200px;
  /* Imagem do card projetos */
  border-radius: 6px;
  border: #000 solid 1px;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .track__imagem {
    height: 480px;
  }
}

.track__botao {
  padding: 3px 3px;
  background-color: #0004ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#botaoVoltar,
#botaoAvancar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  opacity: 30%;
}

#botaoVoltar {
  left: 0;
  height: 100%;
}

#botaoAvancar {
  right: 0;
  height: 100%;
}

/* Página Projetos.html */

.projetosAutorais h1 {
  margin-top: 20px;
}

[data-snack-id] {
  width: 100%;
  max-width: 800px;
  height: 600px;
  border-radius: 8px;
  border: 1px solid #ccc;
}