.rodape {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0;
  gap: 1rem;
}

.rodape__container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;  
}

.rodape__redes {
  display: flex;
  gap: 15px;
  outline: none;
}

.rodape__redes button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.rodape img {
  width: 3rem;
  height: auto;
}

.rodape__assinatura {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
}