* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

:root {
  /* Font-size */
  --fs-pequena: 1rem;
  --fs-media: 1.5rem;
  --fs-grande: 3rem;

  /* Font-family */
  --fonte-titulos: "Georgia", serif;
  --fonte-subtitulos: "Arial", sans-serif;
  --fonte-cards: "Courier New", monospace;

  /*
Arial, Helvetica, sans-serif
Times New Roman, Times, serif
Courier New, Courier, monospace
Verdana, Geneva, sans-serif
Georgia, serif
Trebuchet MS, sans-serif
Impact, Charcoal, sans-serif
  */
}

/* Animação scroll */
@keyframes fireScroll {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes blueScroll {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}