.btn-modo-noturno {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.3s ease;
}

.btn-modo-noturno:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
}

.container-fluid p {
  display: flex;
  font-family: var(--fonte-subtitulos);
}

.dropdown-menu li {
  font-family: var(--fonte-titulos);
  font-size: var(--fs-pequena);
}

.navbar__nomeCompleto {
  font-family: var(--fonte-subtitulos);
  font-size: 2.3rem;
  text-align: center;
}

.navbar__corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_subtitulo {
  padding: 10px 0;
  font-size: var(--fs-media);
  font-family: var(--fonte-titulos);
}

.navbar__itens {
  margin: 3px;
  width: 25px;
  height: auto;
}

.navbar__tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}

.navbar__modoEscuro .form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tema-toggle {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tema-toggle i {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  cursor: pointer;
  color: #aaa;
  font-size: 2.5rem;
  pointer-events: none;
  transition: opacity 0.2s, transform 0.2s, color 0.2s;
}

.tema-toggle i.ativo {
  opacity: 1;
  transform: scale(0.85);
  color: #fbc531;
  pointer-events: auto;
}

.tema-toggle i#temaLight.ativo {
  color: #fbc531;
}

.tema-toggle i#temaDark.ativo {
  color: #3d3f44;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .navbar__nomeCompleto {
    font-family: var(--fonte-subtitulos);
    font-size: 2.5rem;
  }

  .navbar__itens {
    margin: 3px;
    width: 1.8rem;
    height: auto;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-subtitulos);
  }

  .navbar__tecnologias {
    gap: 1rem;
  }

  .navbar_subtitulo {
    font-size: 1.5rem;
  }

  .nav-link {
    width: 3rem;
  }
}

@media (min-width: 1025px) {
  .navbar {
    gap: 1rem;
  }

  .navbar__topo {
    padding: 1rem 2rem;
  }

  .navbar__nomeCompleto {
    font-family: var(--fonte-subtitulos);
    font-size: 6rem;
  }

  .navbar__itens {
    width: 3rem;
  }

  .navbar_subtitulo {
    font-size: 1.25rem;
  }
}